In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# importing datasets
test_df = pd.read_csv("dataset/test.csv")
print(test_df.shape)
test_df.head()

(1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
# Dropping top 4 columns as more than 50% of the data are missing...
test_df.drop(labels=['PoolQC', 'MiscFeature', 'Alley', 'Fence'], axis=1, inplace=True)

In [4]:
# separating categorical and quantitative dtypes..
# and fixxing missing categorical features with mode value and quantitative features with mean value

for col in test_df.columns:
    if test_df[col].dtype == 'object':
        test_df[col].fillna(value=test_df[col].mode()[0], inplace=True)
    else:
        test_df[col].fillna(value=test_df[col].mean(), inplace=True)

In [6]:
test_df.shape

(1459, 76)

In [7]:
test_df.to_csv('2_formulated_test.csv', index=False)